/*------------------------ENCABEZADO: BANNER------------------------*/
.encabezado {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, $color2, white );
    opacity: 0.6;

    .encabezado__titulo {
        width: 100%;
        height: auto;
        padding-bottom: 5px;

        img {
            height: 350px;
            width: auto;
            padding-left: 30%;
        }
    }
}

.menu__barra {
    width: 100%;
    height: 70px;
    background-image: -webkit-gradient(linear, right top, left top, from(#F78282), color-stop(#FABDBD), to(#F78282));
    background-image: linear-gradient(to left, $color3, $color2, $color3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 40%;
        font-size: $texto1;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        a {
            text-decoration: none;
            color: white;
            text-shadow: 0 0 7px black;
            font-family: Georgia, "Times New Roman", Times, serif;
        
            &:hover{
                
                font-size: $texto1hov;
                background-color: $color2;
                height: auto;
                padding: 10px;
            }
        }
    }

}
.menu__iconos {
    width: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    img {
        width: 30px;
        height: 30px;
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
    &:hover {
        background-color: $color2;
        height: auto;
        padding: 10px;
    }

}

/*-----------------------------------------RESPONSIVE-----------------------------------------*/


@media only screen and (max-width: 1002px) {
    .encabezado {
        .encabezado__titulo {
            width: 90%;
    
            img {
                height: 200px;
            }
        }
    }
    .menu__barra{
        nav{
            width: 60%;
        }
    .menu__iconos{
        width: 20%;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px;
        ;
    }
    }

}
@media only screen and (max-width: 800px) {
        .menu__barra{
            nav{
                width: 60%;
            }
        }
        .menu__iconos{
            width: 30%;
        }
}
@media only screen and (max-width: 745px) {
    .encabezado{
        .encabezado__titulo{
            img {
                height: 200px;
            }
        }
        }
        .menu__barra{
            nav{
                width: 60%;
                font-size: $textoresponsive;
            }
        }
        .menu__iconos{
            width: 20%;
        }
}
@media only screen and (max-width: 600px) {
    .encabezado{
        .encabezado__titulo{
            img {
                height: 120px;
                text-align: center;
            }
        }
        }
        .menu__barra{
            height: auto;
            padding: 10px;
            nav{
            width: 60%;
            height: auto;
            display: flex;
            flex-direction: column;
            }
        }
        .menu__iconos{
            flex-direction: column;
            align-content: baseline;
            padding: 20px;
            img{
                height: 25px;
                width: 25px;
                
            }
        }

}

@media only screen and (max-width: 360px) {
    .encabezado{
        .encabezado__titulo{
            img {
                height: 90px;
                text-align: center;
            }
        }
        }
}
