/*------------------------ENCABEZADO: BANNER------------------------*/
.encabezado {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, $color2, white, white, white);
    opacity: 0.6;

    .encabezado__titulo {
        width: 100%;
        height: auto;
        padding-bottom: 5px;

        img {
            padding-left: 30%;
            height: 350px;
            width: auto;
        }
    }
}
/*------------------------------MENU--------------------------------*/

.menu_barra {
    width: 100%;
    height: auto;
    padding: 5px;
    background-image: linear-gradient(to left, $color3, $color2, $color3);
}

ul li{
    width: 100%;
    height: auto;
    display: inline-block;
    list-style: none;
}



