
/*--------------------------------------------PAGE 404 NOT FOUND--------------------------------------------------------*/
.error {
    width: 80%;
    height: 550px;
    margin-top: 50px;
    margin-left: 120px;
    border: 4px solid $color3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    

    h1 {
        text-align: center;
        font-size: $titulo2;
        font-family: 'Parisienne', cursiva;
        color: $color3;
        padding: 30px;
    }

    h2 {
        text-align: center;
        font-size: $titulo1;
    }

    p {
        font-size: $texto1;
    }
    a{
        color: white;
        padding-bottom: 30px;
        font-family: 'Parisienne', cursiva;
        font-size: $texto2;

    }
    a:hover{
        color: $color3;
        font-style: italic;
    }
}

@media only screen and (max-width: 1002px) {

.error{
width: 70%;
}
}
@media only screen and (max-width: 600px) {

    .error{
        width: 100%;
        padding: 0px;
        margin: 0px;
        h1{
            font-size: $tituloresponsive;
        }
        h2{
            font-size: $tituloresponsive;
        }
        p{
            font-size: $textoresponsive;
        }
        a{
            font-size: $tituloresponsive;
        }

    }
    }
