/*-----------------------------------------------------------GALERIA-----------------------------------------------------------*/
/*-------------------------PRIMER SECCION: CARRUSEL DE FOTOS Y CONTENEDOR CON TEXTO DESCRIPTIVO (NOVIAS)-------------------------*/
.novia {
    width: 100%;
    height: auto;
    display: flex;
    gap: 10px;

    .carousel-fade {
        width: 50%;
        padding: 20px;
        margin-left: 8px;
        box-shadow: 3px 3px 8px $colorletra;
        border-radius: 60px 0px 0px 60px;

        .d-block {
            border-radius: 60px 0px 0px 60px;
        }
    }
}

.textocarousel {
    margin-right: 8px;
    margin-left: 8px;
    padding: 20px;
    width: 50%;
    font-size: $texto1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    box-shadow: 3px 3px 8px $colorletra;
    border-radius: 0px 60px 60px 0px;
    background-color: $color2;
    opacity: 0.7;

    h2 {
        font-family: 'Parisienne', cursiva;
        color: black;
        padding-bottom: 10px;
        font-size: $titulo1;
        background-image: linear-gradient(to left, $color2, white);
        opacity: 0.6;
        border-radius: 0px 100px 100px 0px;
    }
}

/*-------------------------SEGUNDA SECCION: TEXTO INTRODUCTORIO Y GALERIA DE FOTOS(DAMAS DE HONOR)-------------------------*/

.section__dos__g {
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-top: 50px;
    text-align: center;

    h2 {
        width: 40%;
        height: auto;
        font-size: $titulo1;
        font-family: 'Parisienne', cursiva;
        background-image: linear-gradient(to left, $color1, $color3);
        opacity: 0.5;
        color: white;
        padding: 20px;
        border-radius: 0px 100px 100px 0px;
    }

    p {
        font-size: $texto1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 30px;
        color: $colorletra;
    }

    .grids__damas {
        width: 95%;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
        align-content: space-around;
        gap: 5px;

        .grids__damas_icons {
            width: 100%;
            height: auto;
            justify-content: space-evenly;
            align-items: center;
            justify-items: center;
            align-content: space-around;
            border-radius: 20px;
            box-shadow: 3px 3px 8px $colorletra;
            border-radius: 20px 20px 20px 20px;
            padding: 10px;
            transition: width 1s;
        }

        img {
            width: 250px;
            height: auto;
            border-radius: 20px;
            transition: width 2s;
        }

        .grids__damas_icons:hover {
            width: 450px;
            height: auto;

            img {
                border-radius: 20px;
                width: 400px;
                height: auto;
            }
        }
    }
}

/*------------------------------------TERCER SECCION: FOTOS SOLAS Y CONTENEDOR CON TEXTO DESCRIPTIVO---------------------------------*/

.novias__dos {
    width: 100%;
    height: auto;
    font-size: $texto1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding-bottom: 20px;
    margin-top: 40px;

    .grids_novias {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-around;
        gap: 15px;
    }

    .grids_novias_icons--texto {
        width: 100%;
        height: auto;
        background-color: rgb(153, 126, 153);
        opacity: 0.6;
        border-radius: 0px 70px 70px 0px;
        box-shadow: 3px 3px 8px $colorletra;
        color: black;

        h2 {
            width: 95%;
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 25px;
            font-size: $titulo1;
            font-family: 'Parisienne', cursiva;
            background-image: linear-gradient(to right, $color1, rgb(153, 126, 153));

        }

        p {
            padding: 20px;
        }
    }

    .grids_novias_icons {
        width: 100%;
        height: auto;

        img {
            border-radius: 20px;
            box-shadow: 3px 3px 8px $colorletra;
            height: 400px;
            width: auto;

        }
    }
}



@media only screen and (max-width: 1002px) {

/*---------------SEGUNDA SECCION: TEXTO INTRODUCTORIO Y GALERIA DE FOTOS(DAMAS DE HONOR)-------------------------*/
    .novia {
        .carousel-fade {
            width: 30%;
            height: auto;
        }

        .textocarousel {
            width: 40%;
            height: auto;
        }

    }

    .section__dos__g {
        .grids__damas {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto;

            .grids__damas_icons {
                width: 100%;
                height: 300px;
                margin-bottom: 20px;

            }

            img {
                width: 100%;
                height: 250px;
                border-radius: 20px;
                transition: width 2s;
            }

            .grids__damas_icons:hover {
                height: 330px;

                img {
                    height: 280px;

                }
            }
        }
    }

    /*------------------------------TERCER SECCION: FOTOS SOLAS Y CONTENEDOR CON TEXTO DESCRIPTIVO-----------------------*/
    .novias__dos {
        .grids_novias {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }

        .grids_novias_icons--texto {
            width: 90%;
            height: auto;
            font-size: $textoresponsive;
            margin-right: 10%;

            h2 {
                font-size: $tituloresponsive;

            }

            p {
                padding: 20px;
            }
        }

        .grids_novias_icons {
            width: 100%;
            height: auto;

            img {
                height: 300px;

            }
        }
    }
}




@media only screen and (max-width: 900px) {

    /*-------------------------PRIMER SECCION: CARRUSEL DE FOTOS Y CONTENEDOR CON TEXTO DESCRIPTIVO (NOVIAS)----------------*/
    .novia {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .carousel-fade {
            width: 70%;

            .d-block {
                width: 100%;
                height: 300px;
            }
        }

        .textocarousel {
            width: 70%;
            height: auto;
            font-size: $textoresponsive;
        }
    }

    .grids__damas_icons {
        width: 100%;
        height: 190px;

    }

    img {
        width: 100%;
        height: 130px;
        border-radius: 20px;

    }

    .grids__damas_icons:hover {
        height: 220px;

        img {
            height: 150px;

        }
    }
}




@media only screen and (max-width:800px) {
    .section__dos__g {
        .grids__damas {
            display: grid;
            grid-template-columns: auto;
            text-align: center;
        }
    }

    .novias__dos {
        .grids_novias {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
    }

    .grids_novias_icons--texto {
        width: 80%;
    }

}




@media only screen and (max-width: 600px) {

    /*------------------PRIMER SECCION: CARRUSEL DE FOTOS Y CONTENEDOR CON TEXTO DESCRIPTIVO (NOVIAS)-------------------*/
    .novia {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .carousel-fade {
            width: 80%;

            .d-block {
                width: 90%;
                height: 200px;
            }
        }

        .textocarousel {
            width: 80%;
        }
    }

    .section__dos__g {
        h2 {
            width: 60%;
        }
    }
}



@media only screen and (max-width: 360px) {

    /*--------------------------------DAMAS DE HONOR--------------------------------------------*/
    .section__dos__g {
        h2 {
            width: 60%;
        }

        .grids__damas {
            display: grid;
            grid-template-columns: auto;
            text-align: center;
            margin-left: 40px;
        }
    }

    .grids__damas_icons {
        width: 100%;
        height: 110px;

    }

    img {
        width: 100%;
        height: 90px;
        border-radius: 20px;

    }

    .grids__damas_icons:hover {
        height: 120px;

        img {
            height: 100px;

        }
    }
}
