/*--------------------------CONTENIDO PRINCIPAL INTRODUCTORIO--------------------*/
main {
    width: 100%;
    height: auto;
    background-color: $colorletra;
    opacity: 0.6;
    color: white;
    text-shadow: 0 0 7px black;
    text-align: center;
    font-size: $texto1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 80px;

    h1 {
        padding-top: 40px;
        padding-left: 60px;
        font-size: $titulo2;
        text-align: left;
        font-family: 'Parisienne', cursiva;
    }

    p {
        padding: 40px;
        padding-bottom: 70px;
    }
}


@media only screen and (max-width: 500px) {

    /*--------------------------CONTENIDO PRINCIPAL INTRODUCTORIO--------------------*/
    main {
    font-size: $textoresponsive;

        h1 {
            font-size: $tituloresponsive;    
    }
    }
}
