/*-------VARIABLES---------*/
/*--------COLORES--------*/
$color1: #f3d6d6;
$color2: #fabdbd;
$color3: #f78282;
$colorletra:rgba(0, 0, 0, 0.76);
/*--------TAMAÑO LETRA-------*/
$texto1:25px;
$texto1hov:28px;
$texto2:35px;
$texto2hov:38px;
$textoresponsive:18px;
$titulo1:45px;
$titulo2:55px;
$tituloresponsive:23px;