@charset "UTF-8";
/*---------------------------------ESTILOS PAGES----------------------------------------*/
/*-------VARIABLES---------*/
/*--------COLORES--------*/
/*--------TAMAÑO LETRA-------*/
/*--------------------------------------------PAGE 404 NOT FOUND--------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
body {
  background-image: url(../multimedia/fondo_3.jpg);
}

.error {
  width: 80%;
  height: 550px;
  margin-top: 50px;
  margin-left: 120px;
  border: 4px solid #f78282;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.error h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Parisienne', cursiva;
  color: #f78282;
  padding: 30px;
}

.error h2 {
  text-align: center;
  font-size: 45px;
}

.error p {
  font-size: 25px;
}

.error a {
  color: white;
  padding-bottom: 30px;
  font-family: 'Parisienne', cursiva;
  font-size: 35px;
}

.error a:hover {
  color: #f78282;
  font-style: italic;
}
@media only screen and (max-width: 1002px) {
  .error {
    width: 70%;
  }
}

@media only screen and (max-width: 600px) {
  .error {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .error h1 {
    font-size: 23px;
  }
  .error h2 {
    font-size: 23px;
  }
  .error p {
    font-size: 18px;
  }
  .error a {
    font-size: 23px;
  }
}
/*----------------------PIE DE PAGINA--------------------------*/
footer {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.76);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 18px;
  font-family: 'Parisienne', cursiva;
}

footer p {
  text-align: center;
  color: #f78282;
  padding-bottom: 20px;
}

footer .mapa a {
  text-decoration: none;
  color: white;
}

footer .mapa ul a:hover {
  color: #f78282;
  font-size: 20px;
}

footer .logo {
  background-color: #fabdbd;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid white;
}

footer .logo img {
  width: 70px;
  height: 70px;
}

footer .contacto ul {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  color: #f78282;
}

footer .contacto ul img {
  width: 30px;
  height: 30px;
  border-radius:0px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

footer .contacto ul img:hover {
  border-radius: 10px;
  background-color: #f78282;
}

/*-----------------------------------------RESPONSIVE-----------------------------------------*/
@media only screen and (max-width: 745px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
      
    .contacto ul img {
  border-radius: 0px;

}
  }
}

/*------------------------ENCABEZADO: BANNER------------------------*/
.encabezado {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#fabdbd), to(white));
  background-image: linear-gradient(to right, #fabdbd, white);
  opacity: 0.6;
}

.encabezado .encabezado__titulo {
  width: 100%;
  height: auto;
  padding-bottom: 5px;
}

.encabezado .encabezado__titulo img {
  height: 350px;
  width: auto;
  padding-left: 30%;
}

.menu__barra {
  width: 100%;
  height: 70px;
  background-image: -webkit-gradient(linear, right top, left top, from(#f78282), color-stop(#fabdbd), to(#f78282));
  background-image: linear-gradient(to left, #f78282, #fabdbd, #f78282);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu__barra nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40%;
  font-size: 25px;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.menu__barra nav a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 7px rgb(172, 171, 171);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.menu__barra nav a:hover {
  font-size: 28px;
  background-color: #fabdbd;
  height: auto;
  padding: 10px;
}

.menu__iconos {
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.menu__iconos img {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.menu__iconos:hover {
  background-color: #fabdbd;
  height: auto;
  padding: 10px;
}

/*-----------------------------------------RESPONSIVE-----------------------------------------*/
@media only screen and (max-width: 1002px) {
  .encabezado .encabezado__titulo {
    width: 90%;
  }
  .encabezado .encabezado__titulo img {
    height: 200px;
  }
  .menu__barra nav {
    width: 60%;
  }
  .menu__barra .menu__iconos {
    width: 20%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 5px;
  }
}

@media only screen and (max-width: 800px) {
  .menu__barra nav {
    width: 60%;
  }
  .menu__iconos {
    width: 30%;
  }
}

@media only screen and (max-width: 745px) {
  .encabezado .encabezado__titulo img {
    height: 200px;
  }
  .menu__barra nav {
    width: 60%;
    font-size: 18px;
  }
  .menu__iconos {
    width: 20%;
  }
}

@media only screen and (max-width: 600px) {
  .encabezado .encabezado__titulo img {
    height: 120px;
    text-align: center;
  }
  .menu__barra {
    height: auto;
    padding: 10px;
  }
  .menu__barra nav {
    width: 60%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__iconos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: baseline;
        align-content: baseline;
    padding: 20px;
  }
  .menu__iconos img {
    height: 25px;
    width: 25px;
  }
}

@media only screen and (max-width: 360px) {
  .encabezado .encabezado__titulo img {
    height: 90px;
    text-align: center;
  }
}

/*--------------------------CONTENIDO PRINCIPAL INTRODUCTORIO--------------------*/
main {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.76);
  opacity: 0.6;
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 80px;
}

main h1 {
  padding-top: 40px;
  padding-left: 60px;
  font-size: 55px;
  text-align: left;
  font-family: 'Parisienne', cursiva;
  text-shadow: 0 0 7px black;
}

main p {
  padding: 40px;
  padding-bottom: 70px;
}

@media only screen and (max-width: 500px) {
  /*--------------------------CONTENIDO PRINCIPAL INTRODUCTORIO--------------------*/
  main {
    font-size: 18px;
  }
  main h1 {
    font-size: 23px;
  }
}

/*-----------------------------------------------------------INDEX----------------------------------------------------*/
/*-------------------------PRIMER SECCION: DOS BLOQUES "GALERIA" Y "SERVICIOS"-------------------------*/
.section__uno {
  width: 90%;
  height: auto;
  background-color: #fabdbd;
  opacity: 0.6;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 0px 150px 150px 0px;
  color: black;
  -webkit-transition: width 2s;
  transition: width 2s;
  padding-top: 15px;
  padding-bottom: 15px;
}

.section__uno h2 {
  font-size: 45px;
  font-family: 'Parisienne', cursiva;
  text-align: left;
  border-radius: 0px 80px 0px 0px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 2%;
  width: 90%;
  background-image: -webkit-gradient(linear, right top, left top, from(#fabdbd), to(white));
  background-image: linear-gradient(to left, #fabdbd, white);
  opacity: 0.6;
}

.section__uno p {
  padding-bottom: 50px;
  padding: 40px;
}

.section__uno a {
  text-decoration: none;
  color: white;
  background-color: #f78282;
  border-radius: 20px;
  border: 1px solid #fabdbd;
  padding: 5px;
  font-family: 'Parisienne', cursiva;
}

.section__uno:hover {
  background-color: #f78282;
  color: rgba(0, 0, 0, 0.76);
}

.section__uno:hover h2 {
  background-image: none;
}

.section__uno:hover a:hover {
  background-color: #fabdbd;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 28px;
}

.section__dos {
  width: 90%;
  height: auto;
  background-color: #fabdbd;
  opacity: 0.7;
  margin-top: 50px;
  margin-left: 10%;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 150px 0px 0px 150px;
  color: black;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.section__dos h2 {
  font-size: 45px;
  font-family: 'Parisienne', cursiva;
  text-align: right;
  border-radius: 80px 0px 0px 0px;
  padding-top: 10px;
  padding-right: 20px;
  margin-left: 8%;
  padding-bottom: 10px;
  width: 90%;
  background-image: -webkit-gradient(linear, left top, right top, from(#fabdbd), to(white));
  background-image: linear-gradient(to right, #fabdbd, white);
  opacity: 0.6;
}

.section__dos p {
  padding-bottom: 50px;
  padding: 30px;
}

.section__dos a {
  text-decoration: none;
  color: white;
  background-color: #f78282;
  border-radius: 20px;
  border: 1px solid #fabdbd;
  padding: 5px;
  font-family: 'Parisienne', cursiva;
}

.section__dos:hover {
  background-color: #f78282;
  color: rgba(0, 0, 0, 0.76);
}

.section__dos:hover h2 {
  background-image: none;
}

.section__dos:hover a:hover {
  background-color: #fabdbd;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 28px;
}

/*-----------------------------------------RESPONSIVE-----------------------------------------*/
@media only screen and (max-width: 700px) {
  .section__uno h2 {
    font-size: 23px;
  }
  .section__uno p {
    font-size: 18px;
  }
  .section__dos h2 {
    font-size: 23px;
  }
  .section__dos p {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .section__uno h2 {
    width: 50%;
    font-size: 23px;
  }
  .section__uno p {
    font-size: 18px;
  }
  .section__dos h2 {
    width: 80%;
    font-size: 23px;
    margin-left: 16%;
  }
  .section__dos p {
    font-size: 18px;
  }
}

/*-----------------------------------------------------------GALERIA-----------------------------------------------------------*/
/*-------------------------PRIMER SECCION: CARRUSEL DE FOTOS Y CONTENEDOR CON TEXTO DESCRIPTIVO (NOVIAS)-------------------------*/
.novia {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.novia .carousel-fade {
  width: 50%;
  padding: 20px;
  margin-left: 8px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  border-radius: 60px 0px 0px 60px;
}

.novia .carousel-fade .d-block {
  border-radius: 60px 0px 0px 60px;
}

.textocarousel {
  margin-right: 8px;
  margin-left: 8px;
  padding: 20px;
  width: 50%;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  border-radius: 0px 60px 60px 0px;
  background-color: #fabdbd;
  opacity: 0.7;
}

.textocarousel h2 {
  font-family: 'Parisienne', cursiva;
  color: black;
  padding-bottom: 10px;
  font-size: 45px;
  background-image: -webkit-gradient(linear, right top, left top, from(#fabdbd), to(white));
  background-image: linear-gradient(to left, #fabdbd, white);
  opacity: 0.6;
  border-radius: 0px 100px 100px 0px;
}

/*-------------------------SEGUNDA SECCION: TEXTO INTRODUCTORIO Y GALERIA DE FOTOS(DAMAS DE HONOR)-------------------------*/
.section__dos__g {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-top: 50px;
  text-align: center;
}

.section__dos__g h2 {
  width: 40%;
  height: auto;
  font-size: 45px;
  font-family: 'Parisienne', cursiva;
  background-image: -webkit-gradient(linear, right top, left top, from(#f3d6d6), to(#f78282));
  background-image: linear-gradient(to left, #f3d6d6, #f78282);
  opacity: 0.5;
  color: white;
  text-shadow: 0 0 7px black;
  padding: 20px;
  border-radius: 0px 100px 100px 0px;
}

.section__dos__g p {
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px;
  color: rgba(0, 0, 0, 0.76);
}

.section__dos__g .grids__damas {
  width: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  gap: 5px;
}

.section__dos__g .grids__damas .grids__damas_icons {
  width: 100%;
  height: auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.section__dos__g .grids__damas img {
  width: 250px;
  height: auto;
  border-radius: 20px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

.section__dos__g .grids__damas .grids__damas_icons:hover {
  width: 100%;

}

.section__dos__g .grids__damas .grids__damas_icons:hover img {
  border-radius: 20px;
  width: 100%;

}

/*------------------------------------TERCER SECCION: FOTOS SOLAS Y CONTENEDOR CON TEXTO DESCRIPTIVO---------------------------------*/
.novias__dos {
  width: 100%;
  height: auto;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-bottom: 20px;
  margin-top: 40px;
}

.novias__dos .grids_novias {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 15px;
}

.novias__dos .grids_novias_icons--texto {
  width: 100%;
  height: auto;
  background-color: #997e99;
  opacity: 0.6;
  border-radius: 0px 70px 70px 0px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  color: black;
}

.novias__dos .grids_novias_icons--texto h2 {
  width: 95%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 25px;
  font-size: 45px;
  font-family: 'Parisienne', cursiva;
  background-image: -webkit-gradient(linear, left top, right top, from(#f3d6d6), to(#997e99));
  background-image: linear-gradient(to right, #f3d6d6, #997e99);
}

.novias__dos .grids_novias_icons--texto p {
  padding: 20px;
}

.novias__dos .grids_novias_icons {
  width: 100%;
  height: auto;
}

.novias__dos .grids_novias_icons img {
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  height: 400px;
  width: auto;
}

@media only screen and (max-width: 1002px) {
  /*---------------SEGUNDA SECCION: TEXTO INTRODUCTORIO Y GALERIA DE FOTOS(DAMAS DE HONOR)-------------------------*/
  .novia .carousel-fade {
    width: 30%;
    height: auto;
  }
  .novia .textocarousel {
    width: 40%;
    height: auto;
  }
  .section__dos__g .grids__damas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .section__dos__g .grids__damas .grids__damas_icons {
    width: 100%;
    margin-bottom: 20px;
  }
  .section__dos__g .grids__damas img {
    width: 100%;
    border-radius: 20px;
    -webkit-transition: width 2s;
    transition: width 2s;
  }

  /*------------------------------TERCER SECCION: FOTOS SOLAS Y CONTENEDOR CON TEXTO DESCRIPTIVO-----------------------*/
  .novias__dos .grids_novias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .novias__dos .grids_novias_icons--texto {
    width: 90%;
    height: auto;
    font-size: 18px;
    margin-right: 10%;
  }
  .novias__dos .grids_novias_icons--texto h2 {
    font-size: 23px;
  }
  .novias__dos .grids_novias_icons--texto p {
    padding: 20px;
  }
  .novias__dos .grids_novias_icons {
    width: 100%;
    height: auto;
  }
  .novias__dos .grids_novias_icons img {
    height: 300px;
  }
}

@media only screen and (max-width: 900px) {
  /*-------------------------PRIMER SECCION: CARRUSEL DE FOTOS Y CONTENEDOR CON TEXTO DESCRIPTIVO (NOVIAS)----------------*/
  .novia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .novia .carousel-fade {
    width: 70%;
  }
  .novia .carousel-fade .d-block {
    width: 100%;
    height: 300px;
  }
  .novia .textocarousel {
    width: 70%;
    height: auto;
    font-size: 18px;
  }

}

@media only screen and (max-width: 800px) {
  .section__dos__g .grids__damas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    text-align: center;
  }
  .novias__dos .grids_novias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .grids_novias_icons--texto {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  /*------------------PRIMER SECCION: CARRUSEL DE FOTOS Y CONTENEDOR CON TEXTO DESCRIPTIVO (NOVIAS)-------------------*/
  .novia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
  .novia .carousel-fade {
    width: 80%;
  }
  .novia .carousel-fade .d-block {
    width: 90%;
    height: 200px;
  }
  .novia .textocarousel {
    width: 80%;
  }
  .section__dos__g h2 {
    width: 60%;
  }
}


/*----------------------------------------------------PAGE SERVICIOS----------------------------------------------------------------*/
/*---------------PRIMER SECCION: FOTO Y CONTENEDOR CON TEXTO DESCRIPTIVO------------------------------*/
#sobremi {
  width: 95%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

#sobremi .perfil__texto {
  margin-right: 15px;
  width: 100%;
  height: auto;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  border-radius: 0px 220px 220px 0px;
  background-color: #fabdbd;
  opacity: 0.7;
  padding: 20px;
}

#sobremi .perfil__texto h2 {
  font-family: 'Parisienne', cursiva;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: -webkit-gradient(linear, right top, left top, from(#fabdbd), to(white));
  background-image: linear-gradient(to left, #fabdbd, white);
  opacity: 0.6;
  border-radius: 0px 100px 100px 0px;
  font-size: 45px;
  width: 90%;
}

#sobremi .perfil__texto p {
  padding: 20px;
}

#sobremi .perfil__img {
  width: 300px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
  margin-right: 15px;
}

/*---------------SEGUNDA SECCION: 3 CONTENEDORES (TARJETAS) SOBRE SERVICIOS------------------------------*/
.section__uno__s {
  width: 100%;
  height: auto;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.section__uno__s h2 {
  font-family: 'Parisienne', cursiva;
  font-size: 55px;
  opacity: 0.7;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
          box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.76);
}

.section__uno__s .servicios {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.section__uno__s .servicios_icons {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.76);
  opacity: 0.6;
  border-radius: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  color: white;
}

.section__uno__s .servicios_icons h3 {
  width: 100%;
  font-size: 45px;
  font-family: 'Parisienne', cursiva;
  background-image: -webkit-gradient(linear, right top, left top, from(#5e5e5e), to(rgba(0, 0, 0, 0.76)));
  background-image: linear-gradient(to left, #5e5e5e, rgba(0, 0, 0, 0.76));
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
}

.section__uno__s .servicios_icons p {
  padding: 30px;
}

.section__uno__s .servicios_icons .boton_icon {
  text-decoration: none;
  color: white;
  background-color: #f78282;
  border-radius: 20px;
  border: 1px solid #fabdbd;
  width: auto;
  font-size: 25px;
  padding: 5px;
  font-family: 'Parisienne', cursiva;
}

.section__uno__s .servicios_icons .boton_icon:hover {
  font-size: 28px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.76)), color-stop(#f78282), to(rgba(0, 0, 0, 0.76)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.76), #f78282, rgba(0, 0, 0, 0.76));
  color: white;
}

.section__uno__s .servicios_icons .consultas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.section__uno__s .servicios_icons ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 35px;
  padding-bottom: 20px;
}

/*-------------CONTENEDOR CON FORMULARIO PARA CONSULTAS--------------*/
form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #f78282;
  width: 90%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px;
  gap: 5px;
  margin: 10px;
  margin-left: 60px;
  border-radius: 20px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form div textarea {
  border-radius: 20px;
  font-size: 25px;
  padding: 5px;
  border: 1px solid #f78282;
}

form div input {
  border-radius: 20px;
  font-size: 25px;
  padding: 5px;
  border: 1px solid #f78282;
}

.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
}

.boton .boton_icon {
  text-decoration: none;
  color: white;
  background-color: #f78282;
  border-radius: 20px;
  border: 1px solid #fabdbd;
  width: auto;
  font-size: 25px;
  padding: 5px;
}

.boton .boton_icon:hover {
  font-size: 28px;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.76)), color-stop(#f78282), to(rgba(0, 0, 0, 0.76)));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.76), #f78282, rgba(0, 0, 0, 0.76));
  color: white;
}

@media only screen and (max-width: 900px) {
  /*---------------PRIMER SECCION: FOTO Y CONTENEDOR CON TEXTO DESCRIPTIVO------------------------------*/
  #sobremi {
    gap: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sobremi .perfil__texto {
    width: 90%;
    height: auto;
    text-align: left;
    margin-right: 8%;
    font-size: 18px;
  }
  #sobremi .perfil__texto h2 {
    font-size: 23px;
    height: auto;
    width: 70%;
    padding: 5px;
  }
  #sobremi .perfil__texto p {
    padding: 30px;
  }
  #sobremi .perfil__img {
    width: 300px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 15px;
    border-radius: 20px;
  }
  #sobremi .perfil__img img {
    width: 300px;
    height: 450px;
  }
  /*-------------CONTENEDOR CON FORMULARIO PARA CONSULTAS--------------*/
  form div {
    width: 80%;
    height: auto;
    font-size: 18px;
  }
  form div textarea {
    font-size: 18px;
  }
  .boton {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 700px) {
.section__uno__s .servicios_icons ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 500px) {
  /*---------------PRIMER SECCION: FOTO Y CONTENEDOR CON TEXTO DESCRIPTIVO------------------------------*/
  #sobremi .perfil__texto {
    width: 80%;
    margin-right: 8%;
    font-size: 18px;
  }
  #sobremi .perfil__texto h2 {
    width: 60%;
    font-size: 23px;
  }
  #sobremi .perfil__img {
    width: 250px;
  }
  #sobremi .perfil__img img {
    width: 200px;
    height: 350px;
  }
  /*-------------CONTENEDOR CON FORMULARIO PARA CONSULTAS--------------*/
  .servicios {
    width: 90%;
  }
  .servicios_icons {
    width: 80%;
  }
  .servicios_icons h3 {
    font-size: 23px;
  }
  .servicios_icons .consultas {
    width: 80%;
    height: auto;
    padding: 10px;
  }
  .servicios_icons .consultas p {
    font-size: 18px;
  }
  
  /*-------------CONTENEDOR CON FORMULARIO PARA CONSULTAS--------------*/
  #mensaje {
    width: 90%;
    height: auto;
    text-align: center;
  }
  #mensaje h3 {
    background-image: none;
  }
  #mensaje form div {
    width: 80%;
    height: auto;
    font-size: 18px;
    margin-left: 8%;
  }
  #mensaje form div textarea {
    font-size: 18px;
  }
}

.volver {
  width: 80%;
  height: 550px;
  margin-top: 50px;
  margin-left: 120px;
  border: 4px solid #f78282;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.volver h1 {
  text-align: center;
  font-size: 55px;
  font-family: 'Parisienne', cursiva;
  color: #f78282;
  padding: 30px;
}

.volver h2 {
  text-align: center;
  font-size: 45px;
}

.volver p {
  font-size: 25px;
}

.volver a {
  color: white;
  padding-bottom: 30px;
  font-family: 'Parisienne', cursiva;
  font-size: 35px;
}

.volver a:hover {
  color: #f78282;
  font-style: italic;
}
@media only screen and (max-width: 1002px) {
  .volver {
    width: 70%;
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  .volver {
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .volver h1 {
    font-size: 23px;
  }
  .volver h2 {
    font-size: 23px;
  }
  .volver p {
    font-size: 18px;
  }
  .volver a {
    font-size: 23px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../multimedia/fondo_3.jpg);
}
/*# sourceMappingURL=estilos.css.map */
